<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>ReportBuilder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>
  <body>
  <div th:insert="navbar :: primeNavbar"></div>

  <div th:insert="core/modal/server-response-window :: serverResponseModal"></div>
  <!-- PrimaryTabview -->
    <div class = "card container mt-5">

      <nav class = "card text-center container bg-light mt-3 mb-6">
        <div class="nav nav-pills card-header-pills nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active m-1" id="nav-file-tab" data-toggle="tab" href="#nav-file" role="tab" aria-controls="nav-file" aria-selected="true">Добавление конфигурации</a>
          <a class="nav-item nav-link m-1" id="nav-main-settigns-tab" data-toggle="tab" href="#nav-main-settigns" role="tab" aria-controls="nav-main-settigns" aria-selected="false">Главные настройки</a>
          <a class="nav-item nav-link m-1" id="nav-profile-tab" data-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-members" aria-selected="false">Список сотрудников</a>
          <a class="nav-item nav-link m-1" id="nav-sheets-tab" data-toggle="tab" href="#nav-sheets" role="tab" aria-controls="nav-sheets" aria-selected="false">Данные таблиц</a>
          <a class="nav-item nav-link m-1" id="nav-request-tab" data-toggle="tab" href="#nav-processing-request" role="tab" aria-controls="nav-processing-request" aria-selected="false">Обработка</a>
        </div>
      </nav>

      <div class="tab-content container" id="nav-tabContent">


        <div th:replace="core/processing-direct/file-settings :: fileTransferingSettings" />
        <div th:replace="core/processing-direct/main-settings :: mainSettings"/>
        <div th:replace="core/processing-direct/members-settings :: membersSettings"/>
        <div th:replace="core/processing-direct/sheets-settings :: sheetsSettings"/>
        <div th:replace="core/processing-direct/processing-request-settings :: processingRequestSettings"/>

      </div>


    </div>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script
      <script type="text/javascript" src="https://www.turnjs.com/lib/turn.min.js "></script>


      <script src="https://unpkg.com/vue2-datepicker@2.6.4/lib/index.js"></script>




    <script type="text/javascript" th:src="@{/js/vue/components/department-member-components.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue/components/table-settings-components.js}"></script>
    <script type="text/javascript" th:src="@{/js/sample-data.js}"></script>

    <script type="text/javascript" th:src="@{/js/vue/settings/members-settings.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue/settings/prime-settings.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue/settings/sheets-settings.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue/settings/file-settings.js}"></script>

    <script type="text/javascript" th:src="@{/js/vue/modal-window.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue/processing-request.js}"></script>


  </body>
</html>