<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="fileTransferingSettings" class="card-body text-left tab-pane fade show active" id="nav-file" role="tabpanel" aria-labelledby="nav-file-tab">
        <h5 class="card-title">Добавления файла конфигурации</h5>
        <p class="card-text">Для работы системы необходимо добавить <code>.xml-файл</code> или использовать его шаблон со стандартными настройками.
            Если вы не знакомы c принципами работы сервиса настоятельно - рекомендуем прочитать <a href="https://docs.google.com/document/d/e/2PACX-1vRL4l3b0raxbgwk7gV9CuXgcPqi2REW_g_OiiSZ4gkp5sJnoJ34SoKKMVaxWO4AROuytGRgUC8od9Q8/pub"> следующий мануал</a>.</p>
        <form action="/transfer/configuration" target="targetFrame" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3 mr-md-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Загрузить файл</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01"></label>
                </div>
            </div>

            <a @click="downloadTemplate" id="downloadLink" class="ml-2 form-row">
                Скачать шаблон
            </a>

            <iframe name="targetFrame" id="targetFrame" style="display: none;"></iframe>

            <button type="submit" value="Upload" class="btn btn-primary bg-primary mt-3" data-toggle="modal" data-target="#serverResponseModal">
                Добавить
            </button>



        </form>

    </div>
</body>